@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@300;700&display=swap');

* {
    text-align: center;
}

body {
  font-family: "Roboto Mono", monospace;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNkFKjbB6FYKfe-GvcMQs4nVcdZXdMkA0K8g&usqp=CAU");
  background-color: #000000;
  background-position: center top;
  background-attachment: fixed;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    padding: 50px;
    color: red;
    border: 2px solid white;
    border-collapse: collapse;
}

h1 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    border-top: solid 1px white;
    color: white;
    background: #262626;
    margin-right: auto;
    margin-left: auto; 
}

td, th, tr{
  border: solid 1px white;
  color: white;
 
}

img{
  width: 50px;
  height: 50px;
}

.campo {
  background: #262626;
  color: white;
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

#botao{
  position: relative;
  color: black;
  height: 50px;
  border-radius: 10px;
}

#Botao{
  padding-bottom: 40px;
  margin-top: 50px;
}

#botoes{
  background: #ffffff;
  color: black;
  width: 80px;
  height: 40px;
  border-radius: 10px;
}

.insercao {
  padding: 8px;
  border: 1px;
  color: black;
  border-radius: 5px;
  background-color: white;
  margin: 7px;
}